/* GENERAL RULE SET  */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* VARIABLES  */
:root {
    /* COLORS  */
    /* PRIMARY COLORS  */
    --DARK-BLUE: hsl(233, 26%, 24%);
    --LIME-GREEN: hsl(136, 65%, 51%);
    --BRIGHT-CYAN: hsl(192, 70%, 51%);

    /* NEUTRAL  */
    --GRAYISH-BLUE: hsl(233, 8%, 62%);
    --LIGHT-GRAYISH-BLUE: hsl(220, 16%, 96%);
    --VERY-LIGHT-GRAY: hsl(0, 0%, 98%);
    --WHITE: hsl(0, 0%, 100%);
    --BLACK: hsl(0, 0%, 0%);
    --OPAQUE-BLACK: hsla(0, 0%, 0%, 0.611);
    --OPAQUE-BLACK-LIGHTER: hsla(0, 0%, 0%, 0.649);
    --LIGHT-GRAY: rgba(211, 211, 211, 0.493);

    /* BACKGROUND COLORS  */
    --OPAQUE-BG-GRAY: rgba(243, 243, 243, 0.172);
    /* FONT-SIZE  */
    --SIZE: 18px;

    /* FONT-WEIGHT  */
    --LIGHT-WEIGHT: 300;
    --MEDIUM-WEIGHT: 400;
    --DARK-WEIGHT: 700;
}

/* GENERAL STYLING  */


header {
    width: min(100% - 10vw, 1200px);
    margin-inline: auto;
}

.wrap {
    display: block;
}

img {
    display: block;
    max-width: 100%;
}

/* NAVIAGTION  */
/* NAVIGATION UTILITY CLASS */
.topnav {
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    background-color: var(--WHITE);
    height: 40px;
    align-items: center;
    width: min(100% - 10vw, 1200px);
    margin-inline: auto;
}



.nav-link {
    display: flex;
    align-items: center;
    position: relative;
    gap: 1.5rem;
}


.nav-link a {
    color: var(--BLACK);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.nav-link a:hover {
    border-bottom: 2px solid var(--BRIGHT-CYAN);
}

.logo,
.nav-link a,
.btn {
    cursor: pointer;
}

.btn {
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 8px 17px;
    background: linear-gradient(to left, var(--BRIGHT-CYAN), var(--LIME-GREEN));
    text-transform: capitalize;
    color: var(--WHITE);
    font-weight: var(--LIGHT-WEIGHT);
}

.btn:hover {
    filter: brightness(80%);
}

.overlay,
.bar {
    display: none;
}

/* MAIN  */

/* SECTION 1 */
/* FIRST SECTION  */

.section-1 {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;

}


.section-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin: 0 130px;

}

.images {
    position: relative;
    padding: 0 !important;
    overflow: hidden;
}

.phone__img {
    display: none;
}

.introbg {
    position: inherit;
    top: -20px;
    left: 180px;
}

.section-content h1 {
    font-weight: 570;
}

.mobile {
    position: absolute;
    top: -90px;
    left: 230px;
    max-width: 80% !important;
}

.section-content h4 {
    font-weight: 400;
    opacity: .9;
}

/* SECTION 2  */
.section-2 {
    position: relative;
    z-index: -1;
    top: -90px !important;
    background-color: var(--LIGHT-GRAY);
}

.contents {
    width: min(100% - 10vw, 1200px);
    margin-inline: auto;
}

.content {
    /* padding-left: 3rem; */
    padding-top: 2rem;
}

.content h4 {
    font-weight: 400;
}

.content h1 {
    font-weight: 570;
}

/* ABOUT  */

.abouts {
    margin-top: 2rem;
    display: flex;
    padding-bottom: 1.7rem;
    gap: 1.5rem;
}

.about {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.abouts h1 {
    font-weight: 500;
    font-size: 1.7rem;
    text-transform: capitalize;
}

h5 {
    font-weight: 400;
}

/* SECTION 3  */
/* CARDS  */

.cards {
    display: flex;
    gap: 2rem;
    width: min(100% - 10vw, 1200px);
    margin-inline: auto;
}


.card p {
    text-transform: capitalize;
}

.card h5 {
    font-weight: 400;
}

.card img {
    border-radius: 7px;
}

.card h1 {
    font-weight: 590;
    font-size: 1.2rem;
}

.article {
    width: min(100% - 10vw, 1200px);
    margin-inline: auto;
    font-weight: 600;
    font-size: 2rem;
    text-transform: capitalize;
}

.card-content {
    padding-left: 10px;
}

.card-content h5:hover {
    color: var(--LIME-GREEN);
    cursor: pointer;
}


footer {
    background-color: #000;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.3rem;
}

.footer {
    width: min(100% - 10vw, 1200px);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 3.5rem;
    align-items: center;
}

.btngr p {
    font-size: 1rem;
    color: var(--WHITE);
}

.btngr .btn {
    width: 65%;
}

.footer__content__1 img {
    margin-bottom: 2rem;
    padding-left: .8rem;
}

.footer__content__1 a {
    padding-left: .7rem;
    font-size: 1.3rem !important;
}

.footer a {
    font-size: .8rem;
    color: var(--WHITE);
    text-decoration: none;

}

.footer-1 {
    display: flex;
    gap: 12rem;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between !important;
}

.footer h5 {
    color: var(--WHITE);
    margin-bottom: -1px;
    font-size: 1.1rem;
}

.abot,
.career {
    margin-top: -3.5rem;
}

.abot a,
.career a {
    padding-top: .5rem;
    display: block;
}



.footer a:hover {
    color: var(--LIME-GREEN);
}

@media screen and (max-width: 768px) {
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 100000;
        top: 42px;
        left: 0;
        background-color: var(--WHITE);
        overflow-y: hidden;
        box-shadow: 3px 4px 6px;
        transition: 0.5s;
    }

    .about {
        display: flex;
        align-items: flex-start;
    }

    .abouts {
        margin: 0 7rem;
        flex-wrap: wrap;
    }

    .section-content {
        margin: 0;
        width: min(100% - 10vw, 1200px);
        margin-inline: auto;
        align-items: center;
    }

    h1,
    h3 span {
        text-align: center;
    }

    .section-content {
        padding-bottom: 2rem;
    }

    .cards h1 {
        font-weight: 600 !important;
    }

    .section-1 .wrap {
        display: inline;
    }


    .phone__img {
        display: block;
    }

    .overlay-content {
        position: relative;
        top: 15%;
        text-align: center;
        margin-top: 30px;
    }

    .content h1 {
        text-align: center;
    }

    .content {
        padding-left: 0;
    }

    .content h4 {
        text-align: center;
    }

    .content span {
        display: inline;
    }

    .section-1 {
        flex-direction: column-reverse;
    }


    .cards {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: min(100% - 40vw);
        margin-inline: auto;
        margin-top: 3rem;
    }



    .introbg {
        display: none;
    }

    .images {
        overflow: none;
    }


    .phone__img {
        width: 100%;
        height: 500px;
    }


    .mobile {
        top: -120px;
        left: 10%;
    }

    .section-2 {
        position: relative;
        z-index: -1;
        height: auto;
        top: 0 !important;
        background-color: var(--LIGHT-GRAY);
    }


    .overlay a {
        padding: 8px;
        text-decoration: none;
        color: var(--BLACK);
        display: block;
        transition: 0.3s;
    }

    .section-content h1 {
        text-align: center;
    }


    h1 span {
        display: inline !important;
    }

    .overlay a:hover,
    .overlay a:focus {
        color: var(--LIME-GREEN);
    }

    .overlay .closebtn {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 60px;
    }

    .nav-link,
    .topnav>.btn {
        display: none;
    }

    .overlay,
    .bar {
        display: block;
    }

    .bar {
        float: right;
        position: relative;
        top: 10px;
        z-index: 1;
    }

    .section-content h4 span {
        text-align: center !important;
    }

    .footer-1 {
        gap: 4rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .btngr {
        margin-top: 2rem;
    }

    .footer {
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .btngr .btn {
        width: 60%;
    }
}

@media screen and (max-width: 560px) {
    .mobile {
        top: -30px;
        left: 10%;
    }

    .phone__img {
        width: 100%;
        height: 250px;
    }

    .abouts {
        margin: 0;
        flex-wrap: wrap;
    }

    .abouts {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* .abouts img {} */

    .about h5 {
        text-align: center;
    }

    .about {
        display: flex;
        align-items: center;
    }

    /* CARDS  */
    .cards {
        margin-top: 3rem;
        flex-wrap: wrap;
        width: min(100% - 10vw) !important;
        margin-inline: auto !important;
    }

    .btngr .btn {
        width: 70%;
    }

}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .wr {
        display: block;
    }

    .cards {
        gap: 1rem;
    }

    .section-content {
        margin-top: -10% !important;
        margin-left: 7% !important;
    }

    .card-content h5 {
        margin-top: .5rem;
    }
}

@media screen and (min-width: 1500px) {
    .introbg {
        position: inherit;
        top: -160px;
        left: 100px;
    }

    .mobile {
        position: absolute;
        top: -70px;
        left: 230px;
        max-width: 80% !important;
    }

    .section-content {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        margin: 0 25%;

    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .section-content {
        margin: 0 20px;
    }

    .introbg {
        left: 200px;
    }

    .mobile {
        left: 130px;
    }

    .wrap__1 {
        display: inline-block;
    }
}